.title {
    margin:0 auto;
    text-align: center;
    padding: 13px;
    border-radius: 10px;
    color: rgb(245, 245, 245);
    white-space: nowrap;
    border-right: 1px solid;
    width: 9ch;
    animation: typing 1.6s steps(9), blink .5s infinite step-end alternate;
    overflow: hidden;

    @keyframes typing {
        from {
            width: 0;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }    
}


