.project {
    background-color: #510A32;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    &__title{
        font-size: 2em;
        padding-top: 30px;
        text-align: center;
        font-size: 50px;
        color: rgb(245, 245, 245)
    }

    &__photo{
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &__description{
        text-align: center;
        padding: 20px 15px 40px 15px;
        color: #fff;
    }

    .fa-user-tie ,.fa-shop ,.fa-signs-post{
        display: flex !important;
        justify-content: center;
        margin: 40px 0;
        font-size: 3rem;
        color: #fff;

    }
    .btn-color-project{
        display: block;
        width: 15%;
        margin: 0 auto;
        padding: 0.6rem;
        background-color: #2d142c;
        border: none;
        color: #fff;
        border-radius: 12px;
        transition: 0.5s;
    
        &:hover{
            background-color: #801336;
        }
    }

    @media screen and (max-width:900px) {
        .btn-color-project{
            width: 70%;
        }
    }
}



